/* set root color cheme */
:root {
--navy: navy;
--backgroundcolor: rgb(219, 216, 216);
}

/* set content highlight color and background */
::selection {
   background-color: var(--backgroundcolor); /* how do I determine which content gets the highlight? */
    color: var(--navy);
}

html {
    /* QUESTION - WHAT IS THIS? */
    
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    line-height: 1.5;
    color: var(--navy);
    background-color: var(--backgroundcolor);
}

img {
    max-width: 200px;
    max-height: 200px;
}

header {
    text-align: right;
    border: solid yellow;
    background-image: url(ray-mallick-5J1bHRX1fNw-unsplash.jpg);
    height: 150px;
}

h1 {
    display: inline;
}

.topnav {
    border: solid purple 3px;
    background-color: darkslategrey;
    overflow: hidden;
    height: 100px;
    text-align: right;
    color: lightblue
}

.topnav li {
    list-style: none;
    display: inline;
    text-align: right;
    color: lightblue;
    }

.topnav a {
    font-size: 20px;
    padding: 20px;
}

.topnav-left {
    float: left;
    background-color: aqua;
    color: black;
    margin: 20px;
    padding: 20px;
    font-size: larger;
}

.subtitle {

}

.about-me {
    display: flex;
    display: inline;
    height: fit-content;
}


.footer li {
    list-style: none;
}

.container {
    display: flex;
    flex-direction: column;*/
    border: solid red 5px;
}

.aside-title {
    border: solid orange 3px;
}

.big-project-container {
    border: solid blue 5px;
    
}

.project-container {
    display: flex;
    /*flex-direction: column;*/
    border: solid yellow 5px
}

.project {
    border: solid green 3px
}

/*Larger Screens*/
@media screen and (min-width: 992px) {
    header {
        width: 100%
    }

    .container {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
    }   

}